<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= [current_page.data.title, current_page.data.section, "Dannah Thompson for Roseville City Council"].compact.join(" | ") %></title>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body>
    <header>
      <nav>
        <h1>Dannah Thompson for Roseville City Council</h1>
        <ul>
          <li><%= link_to "My Vision for Roseville", "/" %></li>
          <li><%= link_to "About Me", "/about" %></li>
          <li><%= link_to "The Issues", "/issues" %></li>
          <li><%= link_to "Media", "/media" %></li>
          <li><%= link_to "Contact Me", "/contact" %></li>
          <li><%= link_to "Volunteer & Donate", "/volunteer-donate" %></li>
        </ul>
      </nav>
    </header>

    <%= yield %>

    <footer>
      <p>
      Copyright © 2016–<%= Date.today.year %>
      Paid and Prepared by the Dannah Thompson for Roseville City Council Committee
      </p>

      <p>
      </p>
    </footer>
  </body>
</html>
