<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= [current_page.data.title, current_page.data.section, "Dannah Thompson for Roseville City Council"].compact.join(" | ") %></title>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body>
    <header>
      <nav>
        <h1>Dannah Thompson for Roseville City Council</h1>
        <ul>
          <li><%= nav_link_to title: "My Vision for Roseville", url: "/index.html" %></li>
          <li><%= nav_link_to title: "About Me", url: "/about.html" %></li>
          <li><%= nav_link_to title: "The Issues", url: "/issues.html" %></li>
          <li><%= nav_link_to title: "Media", url: "/media.html" %></li>
          <li><%= nav_link_to title: "Contact Me", url: "/contact.html" %></li>
          <li><%= nav_link_to title: "Volunteer & Donate", url: "/volunteer-donate.html" %></li>
        </ul>
      </nav>
    </header>

    <%= yield %>

    <hr>

    <footer>
      <p>
      Copyright © 2016–<%= Date.today.year %>
      Paid and Prepared by the Dannah Thompson for Roseville City Council Committee
      </p>

      <p>
      </p>
    </footer>

    <%= partial "google_analytics" %>
  </body>
</html>
