<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= tag :meta, name: "description", content: page_description %>
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= page_title %></title>
    <%= tag :meta, property: "og:url", content: current_page.url %>
    <%= tag :meta, property: "og:title", content: page_title %>
    <%= tag :meta, property: "og:description", content: page_description %>
    <%= tag :meta, property: "og:site_name", content: site_name %>
    <%= tag :meta, property: "og:image", content: "#{ENV["URL"]}#{image_path("dannah-portrait.jpg")}" %>
    <%= stylesheet_link_tag "site" %>
    <%# javascript_include_tag "site" %>
  </head>
  <body class="<%= page_classes %>">
    <header>
      <nav>
        <h1>Dannah Thompson for Roseville City Council</h1>
        <ul>
          <%= wrapped_nav_link_to title: "My Vision for Roseville", url: "/index.html" %>
          <%= wrapped_nav_link_to title: "Issues", url: "/issues.html" %>
          <%= wrapped_nav_link_to title: "Statements", url: "/posts.html" %>
          <%= wrapped_nav_link_to title: "Contact & Media", url: "/contact.html" %>
          <%= wrapped_nav_link_to title: "Volunteer & Donate", url: "/volunteer-donate.html" %>
        </ul>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

    <hr>

    <footer>
      <p>
      Paid and Prepared by the Dannah Thompson for Roseville City Council Committee
      <span class="breakout">Copyright © 2016–<%= Date.today.year %></span>
      </p>

      <p>
      </p>
    </footer>

    <%= partial "google_analytics" %>
  </body>
</html>
