---
description: Dannah’s thoughts on current events.
layout: layout
title: Statements from Dannah
---

{% for message in facebook_messages %}
  <article class="message" id="message-{{ message.id }}">
    <h3 class="message--title">
      Originally <a href="{{ message.permalink_url }}">posted on Facebook</a>
      <time datetime="{{ message.created_time }}">{{ message.created_time | date: "%A, %d %B %Y" }}</time>
      <a href="#message-{{ message.id }}" class="message--title-anchor" title="Permalink to this statement">#</a>
    </h3>

    {{ message.message | default: "no message!" | autoLinkedMarkdown }}
  </article>
{% endfor %}
